.weather-image-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  .top {
    h2 {
      color: white;
    }
  }
  .bottom {
    display: flex;
    justify-content: center;
  }
}
