.autocomplete-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  opacity: 0;
  transition: opacity 0.6s ease-in;
  position: relative;
  z-index: 1;
  @media only screen and(min-width: $mobile-width-max) {
    padding-top: 40px;
  }
  input {
    padding: 10px;
    border-radius: 10px;
    border: 0px;
    color: gray;
    font-size: 15px;
    text-align: center;
    box-shadow: 0px 2px 14px 3px white;
    width: 0px;
    transition: width 0.5s ease-in;
  }
  .autocomplete-width-transition {
    width: 70%;
    @media only screen and(min-width: $mobile-width-max) {
      width: 50%;
    }
  }
  .autocomplete-suggestions {
    display: none;
    position: absolute;
    padding: 10px;
    top: 70px;
    background-color: white;
    width: 70%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /* position: relative; */
    box-shadow: 0px 2px 14px 3px white;
    transition: width 0.5s ease-in;
    @media only screen and(min-width: $mobile-width-max) {
      width: 50%;
    }
    @media only screen and(max-width: $mobile-width-max) {
      top: 50px;
    }
    .suggestion {
      color: gray;
      border-bottom: 1px;
      border-left: 0px;
      border-right: 0px;
      border-top: 0px;
      border-radius: 5px;
      border-color: #c5d8df;
      border-style: solid;
      padding-left: 6px;
      padding-bottom: 6px;
      margin-bottom: 15px;
    }
    .suggestion:last-child {
      border: 0px;
      margin: 0px;
    }
  }
}

.autocomplete-fadein-transition {
  opacity: 1;
}
