.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    border-radius: 50%;
    height: 150px;
    box-shadow: 0px 0px 44px 104px #dbdbdb;
    position: absolute;
    top: 359px;
  }
}
