body {
  background-image: url('./assets/cold-background.png');
  background-color: #c9d8de;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.app-container {
}
