body {
  background: linear-gradient(0deg, rgba(178, 198, 210, 1) 0%, rgba(218, 230, 234, 1) 39%);
  background-repeat: no-repeat;
  background-color: #b2c6d2;
}

.app-container {
  text-align: center;
}
